{% extends 'index.html' %}
{% block title %}支付页面{% endblock %}
{% load static %}

{% block extra_js %}

{% endblock %}
{% block content %}
    <div class="aliPayPageDiv">
	<div class="aliPayPageLogo">
		<img class="pull-left" src="{% static 'img/site/simpleLogo.png' %}">
		<div style="clear:both"></div>
	</div>

	<div>
		<span class="confirmMoneyText">扫一扫付款（元）</span>
		<span class="confirmMoney">
		￥{{ all_unit }}</span>

	</div>
	<div>
		<img class="aliPayImg" src="{% static 'img/site/alipay2wei.png' %}">
	</div>
    <form method="post" action="{% url 'OPERATION:payed_success' %}" id="form_pyss">
        {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ request.session.user_message.user_id }}"/>
        {% for o in order_item %}
            <input type="hidden" name="oid" value="{{ o.id }}">
            {{ o.id }}
        {% endfor %}
    </form>
	<div>
		<a onclick="pys()">
            <script>
                pys = function () {
                    $('#form_pyss').submit();
                }
            </script>
            <button class="confirmPay">确认支付</button>
        </a>
	</div>

</div>
{% endblock %}


﻿